@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<form class="load-tweets">
    <input type="text" value="pluralsight"/>
    <button type="submit">Load tweets</button>
</form>
<ul class="twitter">
    
</ul>