.sidebar-nav h1 {
    padding-left: 10px;
}

.products {
    list-style: none;
}

.products li section {
    overflow: hidden;
}

.products li div {
    padding-right: 20px;
}

.products li div, .products li h1 {
    float: left;
}

.products li p {
    float: left;
    width: 100%;
    margin-top: 10px;
}