@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<ul>
</ul>
<script>
    $(document).ready(function () {
        $.get('/home/data', function (result) {
            var html = '';

            for (var i = 0; i < result.length; i++) {
                html += '<li>' + result[i] + '</li>';
            }

            $('ul').append(html);
        });
    });
</script>
